header{
    position: fixed;
    background-color: #111;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    font-size: 18px;
}
.header-info{
    margin-right: 15px;
}
.header-logo{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(83, 129, 255);
    height: 50px;
    align-items: center;
} 
.header-logo img{
    width: 50px;
    height: 100%;
    margin-left: 30px;
}
.header-info ul li{
    display: inline;
    margin-right: 30px;
}


@media (max-width:760px){
    header{
        width: 100vw;
        font-size: 14px;
    }
    .header-logo img{
        width: 40px;
        height: 80%;
        margin-left: 10px;
    }
    .header-info ul li{
        margin-right: 15px;
    }
    /* .header-info{
        display: none;
    } */
}