.services{
    padding-top: 50px;
    color: #fff;
}
.services-title{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}
.services-info{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.services-lista{
    margin-right: 150px;
    margin-left: 100px;
    color: rgb(83, 129, 255);
}
.services-lista ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services-lista li{
    display: inline;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
hr{
    border-color: rgb(206, 50, 50);
}

@media (max-width:760px){
    .services{
        padding-top: 10px;
    }
    .services-title{
        margin: 0 30px 30px 30px;
    }
    .services-info{
        margin: 0 30px 30px 30px;
    }
    .services-lista{
        margin: 0;
    }
    .services-lista ul{
        justify-content: left;
    }
    .services-lista li{
        font-size: 18px;
        margin-left: 15px;
        display:contents;
    }
}