.sobre{
    padding-top: 80px;
    color: #fff;
}
.sobre-title{
    margin-left: 100px;
    margin-right: 100px;
}
.sobre-conteudo{
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.sobre-imagens{
    margin-top: 50px;
    margin-right: 50px;
    /* margin-left: 100px; */
}
.sobre-imagens ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sobre-imagens li{
    list-style: none;
}
.sobre-imagens img{
    width: 500px;
    height: 280px;
}

@media (max-width:760px){
    .sobre{
        padding-top: 20px;
    }
    .sobre-title{
        margin: 0 30px 30px 30px;
    }
    .sobre-conteudo{
        margin: 0 30px 30px 40px;
        text-align: left;
    }
    .sobre-imagens{
        margin: 0;
    }
    .sobre-imagens ul{
        display: contents;
    }
    .sobre-imagens li{
        margin-top: 10px;
    }
    .sobre-imagens img{
        width: 100vw;
        height: 200px;
    }
}